body {
  background-color: var(--primary-color);
}

.heading {
  color: var(--text-color-dark);
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

.card-grid .card {
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border: solid 1px #e2e2e28a;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card .card-content {
  padding: 20px;
}

.card .card-content h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
  color: var(--text-color-dark);
}

.card .card-content p {
  font-size: 1rem;
  color: rgb(138, 138, 138);
}

.card img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 225px;
  width: 100%;
}

.btn.card-btn {
  background-color: var(--secondary-color);
  border-radius: 9999px;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: auto;
  align-self: center; /* Zentriert den Button horizontal */
}

.btn.card-btn:hover {
  background-color: #177fca;
  transition: background-color 0.3s ease;
}

.btn.card-btn:active {
  background-color: #3caeff;
  transition: background-color 0.1s ease;
}

.card-in-middle {
  margin-top: 50px;
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1d;
}

.card-in-middle .card {
  background-color: #34343969;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 4rem;
  aspect-ratio: 1/1;
  max-width: 600px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.165);
}

.card-in-middle .card h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.card-in-middle .card p {
  padding: 0;
  margin: 2rem 0 0 0;
  color: rgb(136, 136, 140);
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: bold;
}

.contact-form {
  background-color: #1a1a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  font: inherit;
  width: 100%;
}

.contact-form h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contact-form label {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  border-radius: 5px;
  background-color: #5e5e6989;
  border: none;
  font-size: 1.25rem;
  resize: none;
  padding: 0.5rem;
  accent-color: #7b7b82ce;
  color: white;
  font-family: inherit;
}

.contact-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: rgb(69, 162, 255);
}

.contact-form a {
  color: rgb(69, 162, 255);
}

.contact-form a:visited {
  color: rgb(69, 162, 255);
}

.contact-form button {
  background-color: rgb(69, 162, 255);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 1rem 1.5rem;
  cursor: pointer;
  justify-self: center;
}

.contact-form .container {
  background-color: #34343969;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.165);
  width: calc(100% - 4rem);
  max-width: 1000px;
  box-sizing: border-box;
}

.contact-form .contactForm {
  display: grid;
  gap: 1rem;
}

.contact-form .form-group {
  display: grid;
  gap: 0.5rem;
}

.contact-form .form-group:has(input[type="checkbox"]) {
  display: flex;
}
